#myModal {
  .registration {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    ::-webkit-input-placeholder {font-family:FuturaL;font-size:pxToRem(15px);color:#3e3e3e;}
    ::-moz-placeholder          {font-family:FuturaL;font-size:pxToRem(15px);color:#3e3e3e;}/* Firefox 19+ */
    :-moz-placeholder           {font-family:FuturaL;font-size:pxToRem(15px);color:#3e3e3e;}/* Firefox 18- */
    :-ms-input-placeholder      {font-family:FuturaL;font-size:pxToRem(15px);color:#3e3e3e;}
  }

  .field {
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .sec-06__form-btn {
    font-size: .8rem;
  }
}

.sec-06__form-input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.sec-06__form-input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.sec-06__form-input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.sec-06__form-input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.sec-06__form-input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.sec-06__form-input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.sec-06__form-input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.sec-06__form-input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.sec-06__form-input {
  &:focus {
    border-bottom: 1px solid #0046c7;
  }
}

@media (min-width: 768px) {
  #myModal {
    .registration {
      padding: 2rem 4rem;
  }

  .sec-06__form-btn {
    font-size: 1rem;
  }
}
}
